# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

_site/
.sass-cache/
*.swp
pkg/
test/
_deploy/*
Rakefile
.jekyll-metadata
/.idea/.idea/
.idea/
2015-06-19-writing-posts.md
.vscode/
.bundle/
.jekyll-cache
.pyc