
<!-- Latest Post Preview Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        {{ page.content | markdownify }}

        {% assign post = site.posts[0] %}
        <h4> <strong> {{ post.date | date_to_string }} </strong>
          <small>.
            <a class="category" href="{{site.baseurl}}/categories/{{post.category | downcase}}.html">
              {{ post.category }}
            </a>
          .</small>
          <strong> <a href="{{site.baseurl}}{{ post.url }}">{{post.title}} </a> </strong>
          <small><strong>{% include reading-time.html %}</strong> Read</small>
        </h4>

        {% if post.image != null %}
        <section>
          <img src="../{{ post.image }}" />
        </section>
        <br>
        {% endif %}

        <section class="text-justify">
          <p>{{ post.content | strip_html | markdownify | truncatewords: site.post-preview-words }} <a href="{{site.baseurl}}{{post.url}}">more</a></p>
        </section>

        {% assign post = site.posts[1] %}
        <h4> <strong> {{ post.date | date_to_string }} </strong>
          <small>.
            <a class="category" href="{{site.baseurl}}/categories/{{post.category | downcase}}.html">
              {{ post.category }}
            </a>
            .</small>
          <strong> <a href="{{site.baseurl}}{{ post.url }}">{{post.title}} </a> </strong>
          <small><strong>{% include reading-time.html %}</strong> Read</small>
        </h4>

        {% if post.image != null %}
        <section>
          <img src="../{{ post.image }}" />
        </section>
        <br>
        {% endif %}

        <section class="text-justify">
          <p>{{ post.content | strip_html | markdownify | truncatewords: site.post-preview-words }} <a href="{{site.baseurl}}{{post.url}}">more</a></p>
        </section>

        {% assign post = site.posts[2] %}
        <h4> <strong> {{ post.date | date_to_string }} </strong>
          <small>.
            <a class="category" href="{{site.baseurl}}/categories/{{post.category | downcase}}.html">
              {{ post.category }}
            </a>
            .</small>
          <strong> <a href="{{site.baseurl}}{{ post.url }}">{{post.title}} </a> </strong>
          <small><strong>{% include reading-time.html %}</strong> Read</small>
        </h4>

        {% if post.image != null %}
        <section>
          <img src="../{{ post.image }}" />
        </section>
        <br>
        {% endif %}

        <section class="text-justify">
          <p>{{ post.content | strip_html | markdownify | truncatewords: site.post-preview-words }} <a href="{{site.baseurl}}{{post.url}}">more</a></p>
        </section>

        {% assign post = site.posts[3] %}
        <h4> <strong> {{ post.date | date_to_string }} </strong>
          <small>.
            <a class="category" href="{{site.baseurl}}/categories/{{post.category | downcase}}.html">
              {{ post.category }}
            </a>
            .</small>
          <strong> <a href="{{site.baseurl}}{{ post.url }}">{{post.title}} </a> </strong>
          <small><strong>{% include reading-time.html %}</strong> Read</small>
        </h4>

        {% if post.image != null %}
        <section>
          <img src="../{{ post.image }}" />
        </section>
        <br>
        {% endif %}

        <section class="text-justify">
          <p>{{ post.content | strip_html | markdownify | truncatewords: site.post-preview-words }} <a href="{{site.baseurl}}{{post.url}}">more</a></p>
        </section>

        {% assign post = site.posts[4] %}
        <h4> <strong> {{ post.date | date_to_string }} </strong>
          <small>.
            <a class="category" href="{{site.baseurl}}/categories/{{post.category | downcase}}.html">
              {{ post.category }}
            </a>
            .</small>
          <strong> <a href="{{site.baseurl}}{{ post.url }}">{{post.title}} </a> </strong>
          <small><strong>{% include reading-time.html %}</strong> Read</small>
        </h4>

        {% if post.image != null %}
        <section>
          <img src="../{{ post.image }}" />
        </section>
        <br>
        {% endif %}

        <section class="text-justify">
          <p>{{ post.content | strip_html | markdownify | truncatewords: site.post-preview-words }} <a href="{{site.baseurl}}{{post.url}}">more</a></p>
        </section>

        <h4><a href="{{site.baseurl}}/blog/">More Posts</a></h4>

      </div>
    </div>
</section>

<!-- Latest Post Preview End -->
